@page "/reset-password"

<div class="mt-15 authlib-reset">
    <div class="authlib-form-container">
        <ResetPasswordComponent id="@id"></ResetPasswordComponent>
    </div>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? id { get; set; }
}