@page "/account/password-changed"
@using AuthLibrary.Areas.Auth.Models
@using Microsoft.AspNetCore.Identity
@using MudBlazor
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager Navigation

<div class="loading-container">
    <MudProgressCircular Color="Color.Primary" Size="Size.Large" />
    <div class="loading-text">Logging out...</div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        // logout sicuro in un contesto separato
        await SignInManager.SignOutAsync();
        // redirect al login dopo logout
        Navigation.NavigateTo("/account/login");
    }
}
