<MudNavMenu>
    <div style="text-align:center">
        <MudText Typo="Typo.h6" Class="curecode-brand-nav" Color="Color.Secondary">CureCode</MudText>
    </div>
    <MudDivider Style="border-width:3px; border-color: #E9C46A" />
    <MudNavLink Href="/" Match="NavLinkMatch.All">
        <div class="nav-item-align">
            <MudIcon Icon="@Icons.Material.Filled.Home" Color="@Color.Primary" />
            <MudText Typo="Typo.subtitle1">Home</MudText>
        </div>
    </MudNavLink>
    <MudNavLink Href="/security-level">
        <div class="nav-item-align">
            <MudIcon Icon="@Icons.Material.Filled.Security" Color="@Color.Primary" />
            <MudText Typo="Typo.subtitle1">Security Level</MudText>
        </div>
    </MudNavLink>
</MudNavMenu>


